<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/style'); %>
</head>
<body>
<header>
    <%- include('partials/header'); %>
</header>
<main>
    <div class="container bg-3 text-center">
        <h1>Projects details</h1>
        <p>This is my first semester in this program and I am yet to be a part of any projects</p>
    </div>
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>